<form {{action 'formSubmitted' on='submit'}}>
  <label class="hide" for="search">Search for a CSS property</label>
  {{input class='relative field-light full-width rounded z2' value=query
    id='search' type='text' focus-in='inputFocused' focus-out='inputUnfocused'
    autocomplete='off' key-down='inputKeydown'}}
  {{input type='submit' value='search' class='hide'}}
  {{#if inputHasFocus}}
    <div class="absolute bg-white full-width rounded overflow-scroll"
      style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); max-height: 15rem;">
        {{#if searchResults}}
          {{#each searchResults}}
            <div class="px2 py1 pointer typeahead transition-bgc">
              {{this.name}}
            </div>
          {{/each}}
        {{else}}
          <div class="px2 py1">
            No results for '{{query}}'
          </div>
        {{/if}}
    </div>
  {{/if}}
</form>
