<section>
  <header class="clearfix bg-silver transition-bgc
    {{if isPositiveResponse 'bg-teal'}}
    {{if isNegativeResponse 'bg-yellow'}}">
    <div class="container">
      <div class="px3 mt5 mb5">
        <p class="h4 caps bold">Search for a CSS Property</p>
        {{autocomplete-search data=model chosenResult=chosenResult}}
      </div>
    </div>
  </header>
  <section class="clearfix">
    <div class="container">
      <div class="px3 mt3">
        <b class="bold block h2">{{chosenResult.name}}</b>
        {{chosenResult.content}}
      </div>
    </div>
  </section>
</section>
