<section>
  <header class="clearfix bg-silver transition-bgc
    {{if isPositiveResponse 'bg-yellow-dk'}}
    {{if isNegativeResponse 'bg-teal-dk'}}">
    <div class="container">
      <div class="px3 mt4 mb4">
        <p class="h4 caps bold">Search for a CSS Property</p>
        {{autocomplete-search data=model chosenResult=chosenResult}}
      </div>
    </div>
  </header>
  <section class="clearfix">
    <div class="container">
      <div class="px3 mt3">
        {{#if chosenResult}}
          <p class="block h2">
            {{#if isPositiveResponse}}
              yes, <span class="bold">{{chosenResult.name}}</span> can
            {{else}}
              no, <span class="bold">{{chosenResult.name}}</span> cannot
            {{/if}}
            be animated with a CSS transition
          </p>
        {{/if}}
      </div>
    </div>
  </section>
</section>
